body {
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;;
    /*text-align: justify;*/
}

.header {
  position:absolute;
  padding-left: 30px;
  top: 0px;
  left: 0px;
  height: 80px;
  width:100%;
  background-color: black;
  font-family: 'Source Serif Pro', serif;
  color:white;
}

.map {
    position: absolute;
    right: 0px;
    left: 300px;
    height: 100%;
    top:80px;
}

.sidebar {
    left: 0px;
    width: 300px;
    top: 80px;
    bottom: 0px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    position: absolute;
    background-color: white;
}

.leaflet-marker-icon {
    border:1px solid rgba(255,255,255,0.5);
    border-radius:50%;
}

.icon-all {
    background-color: #ff5314;
}
